<div>
   <a ui-sref=overview class="pull-right btn btn-primary btn-outline btn-rounded">voltar ao formulário</a> 
   <h2>Administração<small></small></h2>
<!--   <span class="glyphicon glyphicon-dashboard bg-fade"></span> -->
   <div class=jumbotron>
      <div class=container>
         <h1>Manter</h1>
         <p></p>
<!--         <p> <a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a> </p>-->
        <table class="table table-striped">
        </table>
   

</div>

          
