<div>
    <a ui-sref=overview class="pull-right btn btn-primary btn-outline btn-rounded">voltar ao formulário</a> 
    <h2>Gráfico<small></small></h2>
    <!--   <span class="glyphicon glyphicon-dashboard bg-fade"></span> -->
    <div class=jumbotron>
        <div class=container>
            <h1>Gráfico de acompanhamento</h1>
            <p>Gráfico de acompanhamento (%) de preencimento geral por equipe.</p>
            <!--         <p> <a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a> </p>-->

            <nvd3 options="options2" data="data2"></nvd3>       

        </div>

    </div>
</div>



