<div>
   <a ui-sref=overview class="pull-right btn btn-primary btn-outline btn-rounded">voltar ao formulário</a> 
   <h2>Regras <small>Avaliação</small></h2>
   
   <span class="glyphicon glyphicon-dashboard bg-fade"></span>
   <!--   <span class="glyphicon glyphicon-dashboard bg-fade"></span> -->
  
   <div class=jumbotron>
      <div class=container>
         <h1>Regras da Avaliação</h1>
         <p>Entenda as regras da avalição</p>
<!--         <p> <a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a> </p>-->
        


        <table class="table table-striped">
            <tr><td>1 - Novato</td><td>Não possui conhecimento ou experiência.</td></tr>
            <tr><td>2 - Aprendiz</td><td>Possui um pequeno conhecimento e pouca habilidade. Está dano os primeiros passos no tema e está aprendendo.</td></tr>
            <tr><td>3 - Praticante</td><td>possui um bom conhecimento sobre o tema. Está praticando sema maiores problemas, obtendo bons resutados.</td></tr>
            <tr><td>4 - Profissional</td><td>Possui um bom conhecimento e habilidaed sobre o tema. Também toma frente dos problemas para resolve-los.</td></tr>
            <tr><td>5 - Professor</td><td>Domina o tema. É um expert. Destaca-se por ensinar outras pessoas. É referência para a equipe.</td></tr>
            <tr><td>6 - Líder</td><td>Consegue combinar conhecimentos para melhorar ainda mais seu trabalho, além de ser líder natural para esse tema.</td></tr>
            <tr><td>7 - Mestre</td><td>Cria novos conhecimentos sobre o assunto, domina totalmente sua execução e é uma inspiração para a equipe.</td></tr>
            <tr><td>8 - Não sei</td><td>Não tenho conhecimentos para avaliar.</td></tr>
        </table>
   <a ui-sref=overview class="btn btn-primary btn-outline btn-rounded">voltar ao formulário</a>     
   </div>
</div>

          
